* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea, label {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #2E7EB0; }
.My-Color-Theme-2-hex { color: #8DD2FC; }
.My-Color-Theme-3-hex { color: #42B5FC; }
.My-Color-Theme-4-hex { color: #46687D; }
.My-Color-Theme-5-hex { color: #3490C9; }

.My-Color-Theme-1-hex { color: #2e7eb02e; }
.My-Color-Theme-1-hex { color: #073f98; }
.My-Color-Theme-2-hex { color: #cbe9fc; }
