#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 5;
    background: #2D7DB0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }
  
  main {
    flex: 8;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;

    .mainContentHome {
      display: flex;
      flex-direction: row;
      align-items: center;

      .alinhamentoP {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    hr {
      width: 600px;
      margin: 20px 0px;
      text-align: center;
      border: 1px solid #2E7EB0;
    }

    h2 {
      color: #46687D;
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
    };

    form {
      input {
        margin-top: 10px;
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
        max-width: 320px;
      };

      button {
        margin-top: 10px;
        background-color: #2D7DB0;
        color: #F2F2F2;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 46.9px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        transition: filter 0.2s;
        width: 200px;
        height: 50px;
        max-width: 320px;
    
        &:hover {
          filter: brightness(0.8);
        }
      }

      input {
        width: 100%;
      }
    }

    p {
      font-size: 16px;
      color: #46687D;
      margin-top: 16px;

      a {
        color: #2D7DB0;
      }
    }
  }
}
