.success {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 10px;
};